.produto-img{
    width: 220px;
    height: 165px;
}
.container-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (30px, 1fr));
    gap: 1.5rem;
}
.card{
    background-color:cornsilk;
    border: 1px solid #F5DEB3;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 5px #444;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 450px;
    margin: auto;
    height: 300px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 15px #888;
}
.card-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
.add-to-cart{
    justify-content: center;
    text-align: center;
    display: inline-block;
    background-color: #b22222;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, ease transform 0.2s ease;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.add-to-cart:hover{
    background-color:#c5c2b3;
    color: #1C1C1C;
}
.price{
    color: #b22222;
    font-weight: bold;
}
